<section class="about-info">
    <div class="container container-large">
        <h2 class="animated fade-in">О компании</h2>
    </div>

    <div class="container container-medium">
        <div class="grid">
            <div class="column">
                <div class="column-row animated fade-in">
                    <div class="base-heading">15</div>
                    <div class="title inline">Лет на рынке</div>
                </div>
                <div class="column-row animated fade-in">
                    <div class="base-heading">48</div>
                    <div class="title inline">Высококлассных специалистов</div>
                </div>
                <div class="column-row animated fade-in">
                    <div class="base-heading">> 3000<sub>м2</sub></div>
                    <div class="title inline">Общая площадь выполненных объектов</div>
                </div>
            </div>
            <div class="column">
                <div class="heading-medium heading-medium--brown">Artshift</div>

                <div class="text inline">
                    <p>— коллектив профессионалов, обладающих знаниями
                        и опытом в сфере обустройства внутреннего пространства.</p>

                    <p>Мы специализируемся на внедрении современных дизайнерских
                        и архитектурных решений, позволяющих создать комфорт и гармонию
                        в помещениях крупных жилых и коммерческих объектов, выполняя работы под ключ - от проектирования до общестроительных работ
                        и полной сдачи проекта.</p>

                    <p>Большой штат разнопрофильных высококлассных специалистов позволяет реализовывать проекты любого масштаба и уровня сложности с гарантией сроков и высокого качество.</p>
                </div>
            </div>
            <div class="column">
                <img decoding="async" loading="lazy" class="about-image" src="../images/about-image.jpg" alt="">
            </div>
        </div>
    </div>
</section>