<section class="advantages">

    <div class="container container-large">
        <h2 class="animated fade-in">Наши преимущества</h2>
    </div>

    <div class="container container-medium">
        <div class="grid grid-3-items">
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 14V16V64H64V16V14V0H0V14ZM2 16H21V62H2V16ZM23 62V39H62V62H23ZM62 37H23V16H62V37ZM2 2H62V14H2V2Z" fill="#CB8964"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Комплексный подход</div>
                <div class="text">
                    От дизайна до полной реализации проекта, включая общестроительные
                    и инженерные работы
                </div>
            </div>
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="62" height="62" rx="31" stroke="#CB8964" stroke-width="2"/>
                        <rect x="24" y="9.73633" width="2" height="28" transform="rotate(-15 24 9.73633)" fill="#CB8964"/>
                        <rect x="47" y="35" width="2" height="16" transform="rotate(90 47 35)" fill="#CB8964"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Фиксированный срок</div>
                <div class="text">
                    Гарантируем соблюдение сроков —планировать заезд можно с точностью до дня
                </div>
            </div>
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="40" height="64" viewBox="0 0 40 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="38" height="62" stroke="#CB8964" stroke-width="2"/>
                        <rect x="5" y="8" width="30" height="8" stroke="#CB8964" stroke-width="2"/>
                        <rect x="30" y="54" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="30" y="44" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="30" y="34" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="30" y="24" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="22" y="44" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="22" y="54" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="22" y="34" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="14" y="44" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="22" y="24" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="14" y="34" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="6" y="44" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="6" y="34" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="14" y="54" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="14" y="24" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="6" y="54" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                        <rect x="6" y="24" width="4" height="4" stroke="#CB8964" stroke-width="2"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Неизменная стоимость</div>
                <div class="text">
                    Стоимость работ фиксируется в момент подписания договора
                    и остается неизменной от начала
                    и до конца
                </div>
            </div>
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="84" height="48" viewBox="0 0 84 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M62.2543 24.1714L62.8811 24.873L63.6196 24.2901L82.6153 9.29493L76.6835 47H6.82977L1.3503 9.26778L20.3804 24.2901L21.1189 24.873L21.7457 24.1714L42 1.50094L62.2543 24.1714Z" stroke="#CB8964" stroke-width="2"/>
                        <path d="M42 2V46" stroke="#CB8964" stroke-width="2"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Высокие стандарты</div>
                <div class="text">
                    Тщательный подбор материалов и контроль каждого этапа работы
                </div>
            </div>
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="84" height="46" viewBox="0 0 84 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H2.15407H82H84V2V24.5L48.9601 27.1767L58.028 43H78V45H57V44.972L56.8895 45.0358L46.7516 27.3454L12 30L10.2 25.5H3H2V24.5V6.5H2.6L0.8 2L0 0ZM4 10V23.5H9.4L4 10ZM13.3117 27.894L2.95407 2H82V22.647L13.3117 27.894Z" fill="#CB8964"/>
                        <path d="M76 17.5V6.5" stroke="#CB8964" stroke-width="2"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Прямая трансляция с объекта</div>
                <div class="text">
                    Личный кабинет с доступом к камерам, ведущим прямую трансляцию с объекта
                </div>
            </div>
            <div class="card animated fade-in">
                <div class="icon">
                    <svg width="82" height="56" viewBox="0 0 82 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M64.2832 0.811523L66.2151 1.32916L63.1092 12.9203L61.1774 12.4026L64.2832 0.811523ZM32 53.5301L61.3554 32.2572L50.6323 14L13.3677 14L2.64455 32.2572L32 53.5301ZM0 32.8107L32 56L64 32.8107L51.7771 12L12.2229 12L0 32.8107ZM46.9412 19.5H36.5V17.5H47.5H48.0588L48.3517 17.9759L56.3517 30.9759L54.6483 32.0241L46.9412 19.5ZM75.6953 15.8658L74.6953 14.1338L64.303 20.1338L65.303 21.8658L75.6953 15.8658ZM80.5917 33.0378L81.1094 31.106L69.5183 28.0001L69.0006 29.932L80.5917 33.0378Z" fill="#CB8964"/>
                    </svg>
                </div>
                <div class="label label--white legend-label">Результат достоин восхищения</div>
                <div class="text">
                    Стоимость работ фиксируется в момент подписания договора
                    и остается неизменной от начала
                    и до конца
                </div>
            </div>

        </div>
    </div>

</section>