<section class="company-management">
    <div class="container container-large">
        <h2 class="animated fade-in">Руководство компании</h2>
    </div>
    <div class="container container-medium">
        <div class="grid">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image">
                        <img src="../images/dude.jpg" alt="Валерий Иванов">
                    </div>
                    <div class="title base-title">Валерий иванов <span>генеральный директор</span></div>
                    <div class="content">
                        <p>Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.</p>
                    </div>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <div class="image">
                        <img src="../images/dude.jpg" alt="Валерий Иванов">
                    </div>
                    <div class="title base-title">Валерий иванов <span>генеральный директор</span></div>
                    <div class="content">
                        <p>Таким образом новая модель организационной деятельности требуют от нас анализа существенных финансовых и административных условий.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
