<section class="contact-information">
    <div class="container container-large">
        <h2 class="animated fade-in">Контактная информация</h2>
    </div>
    <div class="container-grid">
        <div class="container container-medium">
            <div class="grid-3-columns">
                <div class="card animated fade-in">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="#CB8964" d="M13 19h6V9.98l-7-5.45-7 5.45V19h6v-6h2v6Zm8 1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.49a1 1 0 0 1 .39-.79l8-6.22a1 1 0 0 1 1.22 0l8 6.22a1 1 0 0 1 .39.79V20Z"/></svg>

                    <div class="label-heading label label--brown">Адрес</div>
                    <div class="card-content label label--light label--white">
                        125363, Москва, ул. Свободы, 35 строение 19, 4 этаж, офис 48
                    </div>
                </div>
                <div class="card animated fade-in">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="#CB8964" d="M19.94 8H21a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-1.06A8 8 0 0 1 12 23v-2a6 6 0 0 0 6-6V9A6 6 0 1 0 6 9v7H3a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2h1.06a8 8 0 0 1 15.88 0ZM3 10v4h1v-4H3Zm17 0v4h1v-4h-1ZM7.76 15.79l1.06-1.7a5.97 5.97 0 0 0 6.36 0l1.06 1.7a7.96 7.96 0 0 1-8.48 0Z"/></svg>
                    <div class="label-heading label label--brown">Связь</div>
                    <div class="card-content label label--light label--white">
                        <a href="tel:+79060851116" class="label label--light label--white">+7 (906) 085-11-16</a><br/>
                        <a href="tel:+79167054355" class="label label--light label--white">+7 (916) 705-43-55</a><br/>
                        E-mail: <a href="mailto:info@artshift.ru" class="label label--light label--white">info@artshift.ru</a>
                    </div>
                </div>
                <div class="card animated fade-in">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="#CB8964" d="m17.62 5.97 1.45-1.46 1.41 1.42-1.45 1.45a9 9 0 1 1-1.41-1.41ZM12 20a7 7 0 1 0 0-14 7 7 0 0 0 0 14ZM11 8h2v6h-2V8ZM8 1h8v2H8V1Z"/></svg>
                    <div class="label-heading label label--brown">Режим работы</div>
                    <div class="card-content label label--light label--white">
                        пн-пт: 09:00–19:00<br/>
                        сб-вс: выходной
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>