<section class="exclusive-projects">
    <div class="container container-large">
        <h2 class="animated fade-in">Выполняем эксклюзивные проекты <span>любого уровня сложности</span></h2>
        <div class="heading-description animated fade-in">Наши клиенты — это строительные подрядчики и владельцы коммерческой недвижимости</div>

        <div class="swiper-container exclusive-projects-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image">
                        <img decoding="async" src="../images/home-slider.jpg" alt="">
                    </div>
                    <div class="title base-title">
                        Стойки ресепшн в компании «Лысые дядьки»
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img decoding="async" src="../images/home-slider.jpg" alt="">
                    </div>
                    <div class="title base-title">
                        Перегородки в конфернц-зале компании «злая империя»
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img decoding="async" src="../images/home-slider.jpg" alt="">
                    </div>
                    <div class="title base-title">
                        Входная группа отеля «уютик-плаза»
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>