<section class="premier">
    <div class="swiper-container premier-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide effect">
                <div class="container container-large">
                    <div class="premier-wrapper">
                        <div class="content">
                            <div class="slider-tags">
                                <p>Проектирование<br/>Производство<br/>Монтаж</p>
                            </div>
                            <div class="slider-title base-heading">Отделка <br/>и ремонт помещений</div>
                            <div class="link-block">
                                <a href="#" class="inline-link inline-link--brown text-uppercase">Подробнее</a>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="17.7344" y="8.04767" width="13.6977" height="1.14147" transform="rotate(135 17.7344 8.04767)" fill="#CB8964" fill-opacity="0.4"/>
                                    <rect x="18.1504" y="6.84882" width="13.6977" height="1.14148" transform="rotate(90 18.1504 6.84882)" fill="#CB8964" fill-opacity="0.4"/>
                                    <rect x="4.45312" y="6.84886" width="13.6977" height="1.14148" fill="#CB8964" fill-opacity="0.4"/>
                                </svg>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../images/slider-image.jpg" alt="" decoding="async">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container container-large">
                    <div class="premier-wrapper">
                        <div class="content">
                            <div class="slider-tags">
                                <p>Проектирование<br/>Производство<br/>Монтаж</p>
                            </div>
                            <div class="slider-title base-heading">Отделка <br/>и ремонт помещений</div>
                            <div class="link-block">
                                <a href="#" class="inline-link inline-link--brown text-uppercase">Подробнее</a>
                                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="17.7344" y="8.04767" width="13.6977" height="1.14147" transform="rotate(135 17.7344 8.04767)" fill="#CB8964" fill-opacity="0.4"/>
                                    <rect x="18.1504" y="6.84882" width="13.6977" height="1.14148" transform="rotate(90 18.1504 6.84882)" fill="#CB8964" fill-opacity="0.4"/>
                                    <rect x="4.45312" y="6.84886" width="13.6977" height="1.14148" fill="#CB8964" fill-opacity="0.4"/>
                                </svg>
                            </div>
                        </div>
                        <div class="image">
                            <img src="../images/slider-image.jpg" alt="" decoding="async">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-large container-navigation">
            <div class="swiper-navigation">
                <button class="prev" aria-label="Предыдущий слайд"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.828 11L13.192 5.636L11.778 4.222L4 12L11.778 19.778L13.192 18.364L7.828 13H20V11H7.828Z"/>
                </svg><span class="inline-link inline-link--navigation text-uppercase">Назад</span></button>
                <button class="next" aria-label="Следующий слайд"><span class="inline-link inline-link--navigation text-uppercase">Вперед</span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.172 11L10.808 5.636L12.222 4.222L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" />
                </svg></button>
            </div>
        </div>
    </div>
</section>