<section class="legend legend-text" style="background: url(../images/legend-bg.jpg) no-repeat center / cover">
    <div class="container container-medium">
        <div class="label label--white legend-label">Системы перегородок</div>
        <div class="legend-content">
            <p>С их помощью можно преобразить помещение, независимо от его размеров и назначения. Цельностеклянные офисные перегородки успешно используют для зонирования пространства. Конструкции получили название «офисные», но это вовсе не означает, что их можно применять для установки в административных зданиях. Их часто можно увидеть в торговых и выставочных центрах, жилых домах и квартирах. Несмотря на то, что изготовлены «стены» полностью из стекла, они довольно прочные, безопасные, способны выдерживать механическое воздействие.</p>
        </div>
    </div>
</section>