<section class="legend legend-services">

    <div class="container container-large">
        <h2 class="animated fade-in">Услуги</h2>
        <div class="heading-description animated fade-in">Мы нацелены на предоставление качественных услуг и долгосрочное сотрудничество</div>
    </div>

    <div class="grid-wrapper" style="background: url(../images/services-bg.jpg) no-repeat center / cover">
        <div class="grid">
            <div class="card">
                <div class="label label--white legend-label animated fade-in">Отделочные работы</div>
                <div class="legend-content animated fade-in">
                    <p>
                        – Стойки ресепшн<br/>
                        – Встраиваемая мебель<br/>
                        – Стеновые деревянные панели<br/>
                        – Деревянные рейки
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="label label--white legend-label animated fade-in">Слаботочные системы</div>
                <div class="legend-content animated fade-in">
                    <p>
                        – Пожарная безопасность<br/>
                        – Прокладка кабелей и проводов<br/>
                        – Установка розеток и др. приборов<br/>
                        – Подключение оборудования
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="label label--white legend-label animated fade-in">Системы перегородок</div>
                <div class="legend-content animated fade-in">
                    <p>
                        – Цельностеклянные<br/>
                        – Каркасные<br/>
                        – Трансформируемые<br/>
                        – Противопожарные<br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>