<section class="we-solve-problems">
    <div class="container container-large">
        <h2 class="animated fade-in">Решаем следующие проблемы</h2>

        <div class="grid">
            <div class="card fade-in">
                <div class="image">
                    <img width="854" height="378" src="../images/work.jpg" alt="" decoding="async" loading="lazy">
                </div>
                <div class="content">
                    <div class="title label label--white">
                        Системы перегородок и дверей цельностеклянные
                    </div>
                    <div class="link-block">
                        <a href="" class="inline-link inline-link--white text-uppercase">Подробнее</a> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.172 11L10.808 5.63605L12.222 4.22205L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="card fade-in">
                <div class="image">
                    <img width="854" height="378" src="../images/work.jpg" alt="" decoding="async" loading="lazy">
                </div>
                <div class="content">
                    <div class="title label label--white">
                        Системы перегородок и дверей цельностеклянные
                    </div>
                    <div class="link-block">
                        <a href="" class="inline-link inline-link--white text-uppercase">Подробнее</a> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.172 11L10.808 5.63605L12.222 4.22205L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="card fade-in">
                <div class="image">
                    <img width="854" height="378" src="../images/work.jpg" alt="" decoding="async" loading="lazy">
                </div>
                <div class="content">
                    <div class="title label label--white">
                        Системы перегородок и дверей цельностеклянные
                    </div>
                    <div class="link-block">
                        <a href="" class="inline-link inline-link--white text-uppercase">Подробнее</a> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.172 11L10.808 5.63605L12.222 4.22205L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" /></svg>
                    </div>
                </div>
            </div>
            <div class="card fade-in">
                <div class="image">
                    <img width="854" height="378" src="../images/work.jpg" alt="" decoding="async" loading="lazy">
                </div>
                <div class="content">
                    <div class="title label label--white">
                        Системы перегородок и дверей цельностеклянные
                    </div>
                    <div class="link-block">
                        <a href="" class="inline-link inline-link--white text-uppercase">Подробнее</a> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.172 11L10.808 5.63605L12.222 4.22205L20 12L12.222 19.778L10.808 18.364L16.172 13H4V11H16.172Z" /></svg>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>